.container {
    display:flex;
    width:100%;
    height:100%;
    justify-content:center;
    background-color:white;
}

.img-container {
    display:flex;
    align-items: center;
    width:30vw;
    height:100vh;
    background-color:white;
}

.artwork {
    height:100vh;
    background-color:white;
}

.test {
    height:100vh!important;
    background-color:white!important;
}



@media screen and (max-width: 1024px) {
    
    .img-container {
        display:none
    } 


}

@media screen and (min-width: 1025px) {
    .mobile-msg {
        display:none
    }
}

.mobile-msg {
    position: relative;
    left:23vw;
    top:10vh;
    width:70vw;
    font-family:'Roboto';
    font-size:1.5vh;
    letter-spacing: 1px;
    text-align:center;
}

.mobile-pic {
    height:10vh;
}

.ghost-button {
    display: inline-block;
    width: 160px;
    height:40px;
    padding: 8px;
    color: #ffffff;
    text-transform:uppercase;
    border: 2px solid #252525;
    text-align: center;
    font-size:15px;
    outline: none;
    text-decoration: none;
    background-color:#252525;
    margin-top:40px;

  }
  
  .ghost-button:hover,
  .ghost-button:active {
    background-color: #ffffff;
    color: #252525;
  }

  #video-mobile {
    position: relative;
    right:10000px;
  }

  @media screen and (max-width: 1024px) {
    .avatar-div {
        position:relative;
        bottom:40vh;
        right:44vw;
    }

    .mobile-msg {
        position:relative;
        top:10vh;
        left:12vw;
    }
}



  @media screen and (max-width: 767px) {
    .avatar-div {
        position:relative;
        bottom:40vh;
        right:35vw;
    }

    .mobile-msg {
        position:relative;
        top:20vh;
        left:23vw;
    }
}

@media screen and (max-height:640px) {
    .mobile-msg {
        position:relative;
        top:20vh;
        left:21.5vw;
    }

    .avatar-div {
        position:relative;
        bottom:40vh;
        right:40vw;
    }
    
}




