.avatar {
    height:54vh;
    width:40.5vh;
    z-index:4;
    position: relative;
    left:10vw;
    top:22vh;
    
}




@media screen and (max-height: 1024px) {
    .avatar {
        height:300px;
        width:225px;
    }
  }

@media screen and (max-width: 768px) {
    .avatar {
        height:250px;
        width:187px;
    }

}


@media screen and (max-height: 640px) {
    .avatar {
        height:200px;
        width:150px;
    }
}

